@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    align-items: center;
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 100%;
    height: auto;
}

h1 {
    color: yellow;
    font-size: 50px;
    /* /margin-top: 100px; */
    margin-top: 150px;
}

p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 800;
}

.btn {
    background: white;
    color: black;
    border: 2px solid #4caf50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: yellow;
    /* Green */
    color: white;
}